*.class
*.log
*.metals
*.stainless-cache
*.vscode
stainless-stack-trace.txt

.DS_Store
*.exe
*.log
*.aux
*.upb
*.upa
*.bbl
*.html
*.css
*.dvi
*.blg
*.out
*.synctex
*.pdf
*.spl
*.smt
*.smt*
*.dll
*.exe.mdb
*.dll.mdb
*.gz
*.pdb
*.fdb_latexmk
*.fls

